a:link {
    color: rgb(255, 255, 255);
    }
    
.btn{
    font-size: 200%;
    padding: 15px;
    display: inline-block
    outline: none;
    box-shadow: none;
}

.btn2{
    background-color: #184b0e;
    padding: 15px;
    display: inline-block
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

.texto {
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    text-align: justify;
}
body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    font-size: 50px;
    color: black; /* Color del texto */
    text-shadow: 
        2px 2px 4px rgba(255, 255, 255, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        2px -2px 4px rgba(255, 255, 255, 0.5),
        -2px 2px 4px rgba(255, 255, 255, 0.5);
}

h2 {
    font-size: 50px;
    color: black; /* Color del texto */
    text-shadow: 
        2px 2px 4px rgba(255, 255, 255, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        2px -2px 4px rgba(255, 255, 255, 0.5),
        -2px 2px 4px rgba(255, 255, 255, 0.5);
}

header{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 15%;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    height: auto;
    gap: 50%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.h{
    display: flex;
}

button {
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:focus {
    outline: 3px solid rgba(76, 175, 80, 0.7);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.ESC{
    color: rgb(2, 44, 92) !important;
    text-shadow: 
        2px 2px 4px rgba(255, 255, 255, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.5),
        2px -2px 4px rgba(255, 255, 255, 0.5),
        -2px 2px 4px rgba(255, 255, 255, 0.5);
}

.lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.imgB {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imgM {
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}